
#courseDiv {
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
}

#courseDiv2 {
	display: flex;
	justify-content: space-between;

}

#profileDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
